html {
  scroll-behavior: smooth; 
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}
h1, h2 {
  font-weight: 700; 
}
.titulo-proyectos {
  color: #ffffff; 
}
p {
  font-weight: 400; 
  line-height: 1.7;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}
header {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px 40px;
  margin-top: 30px;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 40px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500; 
  transition: color 0.3s;
}
.navbar a:hover {
  color: #0dcaf0;
}
#hero {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('CamScanner\ 28-11-2023\ 03.25.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
}
#hero h1,
#hero p,
#hero a {
  position: relative;
  z-index: 1; 
}
.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 700; 
}
.btn-principal {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #0dcaf0;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}
.btn-principal:hover {
  background: #0bb2d4;
}
#sobre-mi {
  background: #fff;
  padding-top: 120px; 
}
#sobre-mi h2 {
  text-align: center;
  margin-bottom: 40px;
}
.sobre-mi-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}
#sobre-mi img {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.texto {
  flex: 1;
  min-width: 300px;
}
#proyectos {
  background:  
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('cam\ 2.jpg') center/cover no-repeat;
  text-align: center;
  padding-top: 100px;
}
.proyectos-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}
.proyecto {
  background: #bfbfbf;
  color: #fff;
  padding: 15px 40px;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}
.proyecto:hover {
  background: #0dcaf0;
}
#contacto {
  background: #fff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}
#contacto h2 {
  margin-bottom: 20px;
}
.contacto-info i {
  margin-right: 8px;
  color: #0dcaf0;
}
.contacto-info p {
  margin: 8px 0;
  font-weight: 400;
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .sobre-mi-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #sobre-mi img {
    width: 200px;
  }
}